.menu {
  background-color: white;
}

.mat-button,.mat-menu-item{
  font-size: 2em;
}

.mat-button.active {
  background-color: lightgray;
}

.mat-icon {
  position: relative;
  top: 5px;
  left: 5px;

  &.connected {
    color: green;
  }

  &.unconnected {
    color: red;
  }
}
