<mat-card>
  <mat-card-content>
    <table>
      <tr>
        <td class="label">Delay after move:</td>
        <td>
          <button mat-raised-button color="warn" (click)="editDelayAfterMove()">{{wsService.timing?.getValue()?.delayAfterMove.toFixed(1)}} s</button>
        </td>
      </tr>

      <tr>
        <td class="label">Delay between shots:</td>
        <td>
          <button mat-raised-button color="warn" (click)="editDelayBetweenShots()">{{wsService.timing?.getValue()?.delayBetweenShots.toFixed(1)}} s</button>
        </td>
      </tr>

      <tr>
        <td class="label">Delay after last shot:</td>
        <td>
          <button  mat-raised-button color="warn" mat-button (click)="editDelayAfterLastShot()">{{wsService.timing?.getValue()?.delayAfterLastShot.toFixed(1)}} s</button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>

